/* General styles */
input, select, textarea, button {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;
}

.page {
	width: 100%;
	height: 100vh;

	background: url(images/AUG.jpg) no-repeat;
	background-size: 100%;
}

.page__wrapper {
	margin: 0 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
}


/* Header styles */
.header {
	width: 100%;

	user-select: none;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;
	user-select: none;
	transition: .1s ;
}

.header__logo:hover {

	transform: scale(0.9);
}
.header__logo img {
	width: 40px;
	height: 40px;
}

.header__logo-title {
	padding: 10px;

	text-decoration: none;
	font-size: 24px;
	color: #c0c0c2;
}
.header__logo-title:hover {
	transform: scale(0.9);
	color: #7668cb;
}
.header__navigation {

}

.header__navigation-menu {
	margin: 0;
	padding: 0;

	display: flex;
}

.header__navigation-menu_item {
	padding: 20px 25px;
	list-style: none;
}

.header__navigation-menu_item a {
	font-size: 14px;
	font-weight: 700;
	color: #c0c0c2;
	text-decoration: none;

	transition: .1s;
}

.header__navigation-menu_item a:hover {
	color: #b0a2fc;
	cursor: pointer;
}

.header__sign {

}

.header__sign-btn {
	padding: 10px 20px 10px 45px;

	background-color: #7668cb;
	border: none;
	border-radius: 6px;
	outline: none;

	background-image: url(images/steam.svg);
	background-size: 25px;
	background-position: 10px center;
	background-repeat: no-repeat;

	font-weight: 700;
	font-size: 14px;
	color: #fff;

	transition: .1s;
}

.header__sign-btn:hover {
	background-color: rgba(118, 104, 203, 0.6);
	cursor: pointer;
}

/* Leftside styles */
.main {
	width: 100%;
	height: 715px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;

	background-color: rgba(45, 45, 51, 0.8);
	border-radius: 5px;
}

.main__rightside, .main__leftside {
	width: 45%;

	display: flex;
	flex-direction: column;
	
}

.navigation {
	padding: 20px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__refresh {
	padding: 0 20px;
}

.navigation__refresh img {
	width: 20px;
	height: 20px;
	user-select: none;
	transition: .3s;
}

.navigation__refresh img:hover {
	transform: rotate(180deg) scale(0.9);
	cursor: pointer;
}

.navigation__lists {
	padding: 0 20px;
	user-select: none;

}

.navigation__field {
	padding: 0 40px;
}

.navigation__field input {
	padding: 12px 40px;

	font-size: 14px;
	color: #fff;

	background-image: url(images/loupe.svg);
	background-position: 12px center;
	background-size: 16px;
	background-repeat: no-repeat;

	border: none;
	border-radius: 5px;
	outline: none;
	background-color: #44444b;

	transition: .1s;
}

.navigation__field input:hover, .navigation__field input:focus {
	cursor: pointer;
	background-color: #4f4f56;
}

.navigation__cash {
	display: flex;
	align-items: center;
}

.navigation__cash .price {
	font-size: 14px;
	color: #fff;
}

.navigation__cash img {
	width: 20px;
	height: 20px;
	user-select: none;
	transition: .3s;
}

.main__leftside .navigation__refresh {
	border-right: 1px solid #c0c0c2;
}

.main__rightside .navigation__refresh {
	border-left: 1px solid #c0c0c2;
}

.main__leftside .navigation__cash {
	margin-left: 160px;
}	

.main__rightside .navigation__cash {
	margin-right: 160px;
}

.main__leftside .navigation__cash img {
	margin-left: 15px;
}	

.main__rightside .navigation__cash img {
	margin-right: 15px;
}

.items__left {
	width: 100%;
	margin: auto;
}
.items__centr {
	text-align: center;
}

.items__centr, .h3 {
	color: #fff;
	font-size: 20px;
}

/* Middleside styles */
.main__middleside {
	padding: 20px;
	width: 180px;
	display: flex;
	flex-direction: column;
}

/*тут піздос */
.main__middleside-trade {
	margin-top: 8px;
	position: relative;
	
	display: flex;
}

.price__content{
	display: none;
}

.price__imput {
	width: 200px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__left{
	position: relative;
	width: 100%;
	height: 25.97px;
}
.price__form {
	position: relative;
    width: 100%;
    height: 25.97px;
}

.price__form input {
	outline: none;
}
.priсe__imput1 {
	
	width: 100%;
    height: 100%;
    background: #44444b;
    border-radius: 4px;
    border: none;
    padding-left: 18px;
    padding-right: 6px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 110%;
    outline: none;

}
.price__form button {
	display: none;
}


.price__cena {
	position: absolute;
	padding-left: 3px;
	padding-bottom: 3px;
    font-size: 14px;
    fill: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    top: 50%;
    transform: translateY(-50%);
}

.price__centr {
	min-width: 8px;
    height: 2px;
    background: #fff;
    margin: 0 10px;
    box-sizing: border-box;
}

.price__right {
	position: relative;
    width: 100%;
    height: 25.97px;
}


.main__middleside-trade button {
	width: 100%;

	padding: 10px 60px;
	margin-bottom: 30px;

	background-color: #7668cb;
	border: none;
	border-radius: 6px;
	outline: none;

	font-weight: 700;
	font-size: 14px;
	color: #fff;

	transition: .1s;
}
/* кінець блокіч*/
.styles_container__rele {
	display: flex;
	justify-content: space-between;
	width: 100%;

	border-radius: 6px;
	background-color:rgba(45, 45, 51, 0.8);
}

.style_loga_img {
    width: 110px;
}
.loga_img {
	height: 100%;
    width: 100%;
	object-fit: contain;
}
.loga_img:hover {
	transform: scale(0.9);
}
.styles_inner_container__E4VxZ {
	width: 80%;
	border-radius: 5px;
	display: flex;

    justify-content: space-between;
}

.styles_inner_container__E4VxZ h3 {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
}
.styles_item__3ud1J {
	padding-left: 10px;
	padding-right: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
.styles_inner_container__E4VxZ li {
    margin-bottom: 3px;
}
li {
    list-style-type: none;
}
.styles_inner_container__E4VxZ a {
    color: #c0c0c2;
    cursor: pointer;
    font-size: 14px;
}
.styles_inner_container__E4VxZ a:hover {
	color: #7668cb;

}
.styles_inner_container__E4VxZ a:hover:after {
	display: block;
}
a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

.styles_wrap__pHhS- {
	display: flex;
    align-items: center;
    align-self: center;
    margin-top: 29px;
}
.styles_logo__1Vdz5:hover {
	transform: scale(0.8);
}
.styles_logo__iZ-VY {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.styles_item_steam__2zB6g {
    cursor: pointer;
    width: 26px;
    height: 15px;
}
.styles_item_twitter__2zLB7 {
	cursor: pointer;
    width: 20px;
    height: 16px;
    margin-left: 21px;
}
.styles_logo__1Gf-N, .styles_logo__1ts1G, 
.styles_logo__1Vdz5, .styles_logo__l1Xke, 
.styles_logo__zAFbe {
    object-fit: contain;
}
/*тут 2 га жопа */
.tupe__wrapper {
	margin-bottom: 6px;
	display: flex;
	align-items: center;
}

.text__checkbox {
	padding-left: 5px;
	font-size: 14px;
	color: #c0c0c2;

	transition: 0.1s;
}
.text__checkbox:hover {
	color: #fff;
}

.color__color {
	margin-top: 8px;
}

.colour__content {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.color__img {
	min-width: 24px;
	height: 24px;

	padding: 6px;
	transform: rotate(35deg);
}
.color__img:hover {
	cursor: pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
}
/*тут закінцення піздежа */
.main__middleside-trade button.active {
	opacity: 1;
}

.main__middleside-trade button.disactive {
	opacity: 0.5;
}

.main__middleside-trade button:hover {
	background-color: rgba(118, 104, 203, 0.6);
	cursor: pointer;
}

.main__middleside .category {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main__middleside .category .btn {
	padding: 10px 0;

	display: flex;
	justify-content: space-between;
}

.main__middleside .category .btn:hover {
	cursor: pointer;
}

.main__middleside .category .btn span {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.main__middleside-reset button {
	width: 100%;

	padding: 10px 20px;
	margin-top: 30px;

	background: none;
	border: 1px solid #7668cb;
	border-radius: 6px;
	outline: none;
	opacity: 0.7;

	font-weight: 500;
	font-size: 14px;
	color: #7668cb;

	transition: .1s;
}

.main__middleside-reset button:hover {
	opacity: 1;
	cursor: pointer;
}

.items {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	overflow-y: scroll;
    overflow-x: hidden;

}

.items::-webkit-scrollbar-thumb {
	background: hsla(0,0%,100%,0.1);
    border-radius: 24px;
}
.items::-webkit-scrollbar {
	width: 4px;
    height: 6px;
}

.item {

	background-color: rgb(75, 75, 75);
	margin: 2px;
	
}
.item:hover {
	background-color: rgb(90, 90, 90);
}

.item-w {
	display: flex;
	flex-direction: column;

	padding: 10px;
}

.item img {
	cursor: pointer;
	width: 150px;
	height: 150px;
	user-select: none;
}

.name {
	font-size: 10px;
	color: #c0c0c2;
	line-height: 1.9;
}

.name__color {
	color: #9f6cd1;

}
.prise {
	font-size: 12px;

}

.stule_button {
	z-index: 1;
	width: 75%;
	height: auto;

	background:#7668cb ;
	color: gainsboro;
	border-radius: 5px;

}

.stule_button:hover {
	background-color: rgba(118, 104, 203, 0.6);
	cursor: pointer;

}


/*кнопка */
.alert__wrapper {
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 3;
}

.alert__wrapper.active {
    display: flex;
}

.alert {
	width: 850px;
	height: 470px;
    position: relative;
	padding: 20px;
	
	border-radius: 5px;

    text-align: justify;

    background-color: #36363c;
    z-index: 5;
}

.styles__container {
	display: flex;
}

/*окноп зліва */

.styles__item {
	flex: 1 1;
    margin-right: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
	min-height: 400px;
	
	
	width: 240px;
    overflow: hidden;
}

.image {
	height: 90%;
    overflow: hidden;
}

.image__wrapper {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__wrapper img {
	width: 100%;
	user-select: none;
}

.styles__links {
	display: flex;
    justify-content: space-between;
	align-items: center;

	color: #8D8D8D;
}

.styles_delimetr__1SlvT {
	width: 640px;
	height: 1px;
	margin-top: 10px;
    background: hsla(0,0%,100%,.1);
}
.styles__links_1 {
	
	text-decoration: none;
	color: hsla(0,0%,100%,.5);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 100%;
    font-weight: 5;
    letter-spacing: .03em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.styles__links_1:hover {
	color: #fff;
	cursor: pointer;
}

.image__up-arrow {
	width: 13px;
	height: 13px;
	user-select: none;
	transform: rotate(40deg);

}
.image__up-arrow:hover {
	color: #fff;
	cursor: pointer;
}
/*окноп права */

.styles__container_1{
	color: #c0c0c2;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}



.styles_name {
	margin: 5px 0 17px;
    font-size: 25px;
	line-height: 22px;
	font-weight: 500;
}

.styles__area {
	margin-top: 10px;
    border-radius: 4px;
    padding: 30px;
    background: #2d2d33;
}
.styles__float {
	margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.styles__wrapper__color {
	width: 100%;
    height: 6px;
    display: flex;
    position: relative;
}

.styles__fn {
	border-radius: 50px 0 0 50px;
    width: 7%;
    background: #3d818f;
}
.styles__mw {
	width: 8%;
    background: #84b235;
}
.styles__ft {
	width: 23%;
    background: #dfc04a;
}
.styles__ww {
	width: 7%;
    background: #ef8641;
}
.styles__bs {
	width: 55%;
    background: #eb5757;
    border-radius: 0 50px 50px 0;
}
element.style {
	width: 6%;
}

.styles_unavailable {
	position: absolute;
    background: #212126;
    height: 100%;
}

.left {
    border-radius: 50px 0 0 50px;
    left: 0;
}

element.style {
	width: 20%;
}
.right {
    border-radius: 0 50px 50px 0;
    right: 0;
}
element.style {
    left: 6.90157%;
}
.styles_arrow__27TfF {
    display: flex;
    fill: #fff;
    position: absolute;
    bottom: -2px;
    margin-left: -10px;
}
.styles__float__namber{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}
.styles__float__title, .styles__float__value{
	font-size: 14px;
	line-height: 1;
}
.styles__float__title {
	color: #c0c0c2;
}
.styles__float__value {
	color: #fff;
}

.styles_divider {
	margin: 17px 0;
    width: 100%;
    height: 1px;
    background: hsla(0,0%,100%,.1);
}
.styles__row {
	margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.styles_title, .styles_row_value {
	font-size: 16px;
    line-height: 22px;
}
.styles_title {
	color: #c0c0c2;
    letter-spacing: .3px;
}
.styles_row_value {
	color: #fff;
	letter-spacing: -.3px;
}

.styles_from {
	display: flex;
	align-items: center;
	overflow: hidden;
}
.styles_cases {
	justify-content: space-between;
	flex: 1;
    display: flex;
    align-items: center;
}
.styles_case__title {
	font-size: 14px;
    line-height: 1;
    min-width: 50%;
    display: flex;
    align-items: center;
    color: #c0c0c2;
}

.styles_collection_icon__2f7ut {
	width: 30px;
    margin-right: 10px;
}

.style__text {
	margin-right: 10px;
}
.styles_info_icon__Pk6di {
	cursor: pointer;
    fill: #fff;
    height: 14px;
    width: 14px;
}
.styles_icon__1jMzA {
	fill: #c0c0c2;
}
.styles_case_info__Tvqhl {
    height: 14px;
    width: 14px;
    fill: hsla(0,0%,100%,.3);
}
.styles_delimiter {
	display: none;
}
.styles_price_block {
	margin-top: 30px;
}

.styles_price_wrap {
	margin: 9px 0 16px;
}

.styles_information {
	display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;
}
.styles_price_container{
	position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.styles_price__1m7op {
	font-size: 20px;
	line-height: 20px;
	white-space: nowrap;
    font-weight: 500;
    color: #fff;
}

.styles_wrapper {
	width: fit-content;
    height: fit-content;
}
.styles_info_icon__3njTY {
	cursor: pointer;
    fill: #fff;
    height: 14px;
    width: 14px;
}
.styles_wrapper_1 {
	width: 100%;
	height: fit-content;
}
.styles__button {
	padding: 10px 20px 10px 45px;

	background-color: #7668cb;
	border: none;
	border-radius: 6px;
	outline: none;
	
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	color: #fff;

	transition: .1s;
}

.styles__button:hover {
	background-color: rgba(118, 104, 203, 0.6);
	cursor: pointer;
}
.style__close {
	cursor: pointer;
    background-image: url(images/cross-sign.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 16px;
	right: 16px;
}